:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex: 1 1 30rem;
  min-width: 28rem;
  max-width: 45rem;
  background-color: var(--color-dark--1);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.logo {
  height: 5rem;
  align-self: center;
  margin-bottom: 3rem;
  width: auto;
}

.workouts {
  list-style: none;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0.5rem;
}

.workouts::-webkit-scrollbar {
  width: 6px;
}

.workouts::-webkit-scrollbar-thumb {
  background-color: var(--color-light--2);
  border-radius: 3px;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.2rem 1.8rem;
  margin-bottom: 1.5rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 0.5rem 1rem;
}

.workout--running {
  border-left: 5px solid var(--color-brand--2);
}

.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.6rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.workout__icon {
  font-size: 1.6rem;
  margin-right: 0.3rem;
}

.workout__value {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

/* FORM */
.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1.5rem;

  height: auto;
  transition: all 0.5s ease;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 1rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 2 1 40rem;
  min-height: 60vh;
  background-color: var(--color-light--1);
  border-radius: 8px;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.4rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}

.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  body {
    flex-direction: column;
    padding: 1.5rem;
  }

  .sidebar {
    max-width: 100%;
    flex: 1 1 100%;
    margin-bottom: 2rem;
  }

  .sidebar,
  #map {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .workout {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  }

  .sidebar {
    padding: 1.5rem 2rem;
  }

  .form {
    grid-template-columns: 1fr;
    gap: 1rem 0;
  }

  .form__label {
    flex: 0 0 40%;
    font-size: 1.3rem;
  }

  .form__input {
    font-size: 1.2rem;
  }

  .workout__title {
    font-size: 1.4rem;
  }

  .workout__value {
    font-size: 1.3rem;
  }

  .workout__unit {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    padding: 1rem;
  }

  .sidebar {
    padding: 1.5rem 2rem;
  }

  .logo {
    height: 4rem;
    margin-bottom: 2rem;
  }

  .workouts {
    max-height: 50vh;
  }
}
